

body {
    background-image: url(../Images/BG.jpg);
}

body {
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    border: 4px solid #000;
    background-color: #4b4e51;
}

a {
    font-size: 12pt;
    color: #bc8431;
    text-decoration: none;
}

a:hover{
    color: #f7edea;
}

h1 {
    font-size: 38pt;
    color: #fff;
    border-top: 2px double #4b4e51;
    border-bottom: 2px double #4b4e51;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-size: 12pt;
    line-height: 14pt;
    font-family: 'Ubuntu',cursive, sans-serif;
    color: aliceblue;
}

img{
    border: medium outset #f7edea;
    box-shadow: 8px 8px 8px rgba(0,0,0,.3)
}

      -1px -1px 1px #111, 
      2px 2px 1px #363636;
  }
  &.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }